.Sub-Heading{
    font-size: 2rem;
}
.Skills{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    justify-content:left;
    flex-wrap: wrap;
    margin:0;
    width: 100%;
    padding: 0;
}
.Skill{
    color: rgba(7, 31, 7, 0.87);
    padding: 30px 90px;
    background-color: burlywood;
    margin: 1px;
    font-size: 1.5rem;
    align-items: center;
    vertical-align: middle;
    font-weight:600;
    transition: 0.3s ease-in-out;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-image: linear-gradient(to right, rgb(231, 197, 222), rgb(231, 183, 227));
    border: 2px solid rgb(133, 87, 94);
    
    
}
.Skill:hover{
    background-image: linear-gradient(to right, rgba(121, 61, 105, 0), rgba(231, 183, 227, 0));
    transform: scaleZ(1);
    border: 2px solid blue;
}